* {
  background-color: black;
  font-family: Titillium Web;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40vw;
  margin: auto;
  h1 {
    color: white;
    font-size: 40px;
    padding: 30px 10px;
  }
  div.dashboard {
    padding: 10px;
    color: white;
    text-align: center;
    div {
      display: flex;
      gap: 10px;
      font-size: 25px;
    }
  }
  div.restart {
    padding: 30px;
    button {
      background-color: yellow;
      font-size: 20px;
    }
  }
  div.canvas {
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    padding-top: 30px;
    #canvas {
      height: 320px;
      width: 320px;
      border: 2px solid lightgreen;
      vertical-align: bottom;
    }
  }
}
